
#main
{
  background-color: rgba(169, 169, 240, 0.55);
  padding: 10px;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}
body
{
  background-color: rgba(138, 138, 231, 0.55);
}
.grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#current_info
{
  border: black solid 5px;
  column-gap: 20px;
}
#park_nighttime_today
{
  column-span: 2;
}

.animation
{
  opacity: 0; /* Start with hidden text */
  animation: fadeIn 2s forwards; /* Apply the animation */
}
.animation_off
{
  opacity: 1; /* Start with visible text */
  animation: fadeOut 2s forwards; /* Apply the animation */
}

#background_img_top
{
  position: fixed;
  inset: 0;             /* top:0; right:0; bottom:0; left:0; */
  z-index: -2; /* keep it behind regular background image */

  background-size: cover;
  background-position: center;

  background-image: url("pexels-pixabay-53594.jpg");
}
#background_img
{
  position: fixed;
  inset: 0;             /* top:0; right:0; bottom:0; left:0; */
  z-index: -1; /* keep it behind text */

  background-size: cover;
  background-position: center;
  background-attachment: scroll; /* default: background moves with page */

}

@keyframes fadeIn {
  from {
    opacity: 0; /* From fully transparent */
  }
  to {
    opacity: 1; /* To fully opaque */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* From fully transparent */
  }
  to {
    opacity: 0; /* To fully opaque */
  }
}