
main
{
  background-color: rgb(169, 169, 240);
  padding: 10px;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}
body
{
  background-color: rgb(138, 138, 231);
}
.grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#current_info
{
  border: black solid 5px;
  column-gap: 20px;
}
#park_nighttime_today
{
  column-span: 2;
}
.animation
{
  opacity: 0; /* Start with hidden text */
  animation: fadeIn 2s forwards; /* Apply the animation */
}
@keyframes fadeIn {
  from {
    opacity: 0; /* From fully transparent */
  }
  to {
    opacity: 1; /* To fully opaque */
  }
}